html {
  padding-top: 2vh;
}

body {
  background-color: #27272c;
  font-family: "Roboto", sans-serif;
  color: #dadada;
}

.flow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: calc(100vh - 15vh);

  /* Center on horizontal */
  margin-left: auto;
  margin-right: auto;
  padding-top: 3vh;
  width: 80%;
  width: clamp(800px, 80%, 1000px);

  background-color: #ffffff22;
  background: linear-gradient(180deg, #ffffff00 0%, #ffffff22 100%);

}

.stack {
  padding: 5px;
  margin: 5px;
  background-color: hsla(207, 60%, 60%, 60%);
  width: 650px;
  border: 5px solid #27272c55;

  border-radius: 25px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.snip {
  width: 610px;
  height: 200px;

  margin: 5px;

  background-color: #525252;
  align-items: center;
  
  /* Center on horizontal */
  margin-left: auto;
  margin-right: auto;

  border-radius: 7.5px;

}

.snip:first-of-type {
  padding-bottom: 0;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: 20px;
}

.snip:last-of-type {
  padding-top: 0;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-bottom: 20px;
}

.snip-picture-half {
  width: 15%;
}

.snip-text-half {
  width: auto;
}

.handle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #dadada;
  margin: 0;
  margin-bottom: 0.5rem;
}

.handle::first-letter {
  color: #54bef8;
}

.handle::before {
  content: ">";
  font-size: 2rem;
  color: #54bef8;
  margin-right: 1.5px;
  /* lower by .25 rem */
  position: relative;
  top: 0.05rem;
}

.snip-text {
  font-size: 1.25rem;
  font-weight: 350;
  margin: 0;
  margin-bottom: 0.5rem;
}

.interact {
  font-size: 2rem;
  width: auto;
}

.interact-button {
  font-size: 2rem;
  font-weight: bold;
  width:60px;
  height: 40px;
  margin: 5px;
  padding: 0;
  border-radius: 18px;
  border: #27272c 2px solid;
  background-color: #54bef8aa;
  color: #dadada;
  transition: all 1s ease;
}

.interact-button:hover, .interact-button:focus {
  background-color: #96bfd5;
  border-radius: 10px;
  cursor: pointer;
  /* Animate */
  transition: all 0.2s ease;
}


.like:hover, .like:focus {
  color: #f85478;
}

.share:hover, .share:focus {
  color: #31a810;
}

.reply:hover, .reply:focus {
  color: #164c69;

}

.user-pic {
  width: 150px;
  height: 150px;
  aspect-ratio: 1/1;
  
  border-radius: 25%;
  
  /* padding: 10px; */
  margin: 25px 25px;

  
  object-fit: cover;

  /* Align to left and center */
  float: left;
  /* position: relative; */
  /* top: 100%; */
  /* left: 50%; */
  /* transform: translate(-30%, 10px); */


  box-shadow: #54bef8aa 0px 0px 15px 5px;

}

.user-pic:hover {
  box-shadow: #54bef8aa 0px 0px 25px 5px;
}

